<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block data-th-fragment="metaTags">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="MediTrack Lite - A web-based medical appointment system for seamless doctor-patient interaction.">
        <meta name="keywords" content="Medical, Appointment, Doctor, Patient, Healthcare, Spring Boot, Thymeleaf">
        <meta name="author" content="RIMS Students">
    </th:block>

    <title>MediTrack Lite - Medical Appointment System</title>

    <th:block data-th-fragment="commonLinks">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/images/icons/site.webmanifest">

        <link rel="stylesheet" href="/style/common.syle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </th:block>

    <th:block data-th-fragment="commonScripts">
        <script src="https://cdn.tailwindcss.com"></script>
    </th:block>

</head>
<body>

</body>
</html>